@font-face {
  font-family: "vitro pride";
  src: url("./fonts/VITRO PRIDE OTF.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background: black;
  font-family: "vitro pride", sans-serif;
  color: white;
  overflow: hidden;
  z-index: -100;
}
