#loading-screen {
  position: fixed;
  inset: 0;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  z-index: 100;
  transition: opacity 1s ease;
}

#loading-screen.fade-out {
  opacity: 0;
  pointer-events: none;
}

main {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/*** poster ***/
.poster-container {
  width: 100%;
  margin: 0 5vh;
}

.poster-shaper {
  position: relative;
  aspect-ratio: 1 / 1.414;
  max-height: 100vh;
}

.background-container {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 60%;
}

.background-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(
    50% 0,
    100% 0,
    100% 33%,
    75% 33%,
    75% 66%,
    50% 66%,
    50% 99%,
    0 99%,
    0 66%,
    25% 66%,
    25% 33%,
    50% 33%
  );
}

.background-image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.background-wing {
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
}

.background-border {
  position: absolute;
  width: 100%;
  height: 100%;
}

.title-container {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
}

.title {
  position: absolute;
  height: 35%;
  top: 0;
}

.title-hanja {
  position: absolute;
  height: 35%;
  right: -5%;
  bottom: 25%;
}

.title-line-horizontal {
  position: absolute;
  top: 17%;
  left: 21%;
  width: 24%;
  border: 1px dashed white;
}

.title-line-vertical {
  position: absolute;
  top: 17%;
  left: 45%;
  bottom: 69%;
  border: 1px dashed white;
}

.title-plus-symbol {
  position: absolute;
  font-size: 20px;
  left: calc(45% - 4px);
  bottom: 66.5%;
}

.circle-container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.circle-line {
  position: absolute;
  bottom: 17%;
  left: 5%;
  width: 52%;
  aspect-ratio: 1 / 1;
  border: 1px solid white;
  border-radius: 50%;
  background: none;
}

.circle-camera {
  position: relative;
  top: 44%;
  left: 30%;
  width: 30%;
}

/*** video ***/
.video-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: -1;
}

.video {
  overflow: hidden;
  height: 100vh;
}

.video-fade {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 100%;
}

/*** footer ***/
footer {
  position: absolute;
  bottom: 60px;
  width: 100%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  gap: 12px;
  height: 32px;
}

.logo_snuaaa {
  height: 100%;
}

.logo_ica {
  height: 70%;
  filter: invert();
}

.footer-line {
  flex-grow: 1;
  border: 1px dashed white;
}

.footer-text {
  text-align: right;
  font-size: 0.75em;
}

/*** links ***/
.link-container {
  position: absolute;
  right: 3vh;
  top: 3vh;
}

.link-item {
  padding: 0.5em;
  font-size: 1.5em;
  font-weight: 700;
  text-align: right;
  cursor: pointer;
}
